.main{
    margin: 30px;
    background-color: white;
}
body{
    background-color: #efefef;
}
#publish-submit{
    float: right;
}



.desc-text{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.header-pic{
    height: 48px;
    width: 45px;
}

.pageSplit{
    float: right;
}
.profile-nag{
    margin-top: 20px;
}

.question-menu{
    color: #999;
    font-size: 13px;
}