<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>神码社区</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/comunity.css">
    <link rel="stylesheet" href="/css/editormd.min.css">
    <script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script type="application/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/comment.js"></script>
    <script type="text/javascript" src="/js/editormd.min.js"></script>
    <script type="text/javascript">
        $(function ($) {
            var errMsg=$(".errorHidden").val();
            if (errMsg){
                alert(errMsg);
            }
        })
    </script>
</head>
<body>
<div th:insert="~{navigation :: nvi}"></div>

<div class="container-fluid main">
    <div class="row">
        <div class="container-fluid col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
            <hr/>

            <form action="/publish" method="post">
                <input type="hidden" th:value="${questionId}" name="id">
                <div class="form-group">
                    <label for="title">问题标题(简单扼要):</label>
                    <input type="text" name="title" th:value="${title}" autocomplete="off"
                           class="form-control" id="title" placeholder="问题标题.....">
                </div>

                <div class="form-group" id="question-editor">
                    <label for="description">问题补充</label>
                    <textarea class="form-control" th:utext="${description}" autocomplete="off" style="display:none;"
                              id="description" name="description" cols="30" rows="10"></textarea>
                </div>

                <script type="text/javascript">
                    $(function() {
                        var editor = editormd("question-editor", {
                            width  : "100%",
                            height : 350,
                            path   : "/js/lib/",
                            delay: 0,
                            watch:false,
                            placeholder:"请您输入问题描述",
                            imageUpload:true,
                            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                            imageUploadURL: "/file/upload",
                            emoji:true
                        });
                    });
                </script>

                <div class="form-group">
                    <label for="tag">输入标签</label>
                    <input type="text" class="form-control" onclick="tag_click(this)" th:value="${tag}" autocomplete="off"
                           id="tag" name="tag" placeholder="请输入标签,以逗号 , 隔开" readonly>
                </div>

                <!--标签选择-->
                <div class="tags">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" th:each="tags:${allTags}">
                            <a th:href="${'#'+tags.categoryName}" aria-controls="home" role="tab" data-toggle="tab" th:text="${tags.categoryName}"></a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content" >
                        <div role="tabpanel" class="tab-pane" th:id="${selectCategory.categoryName}" th:each="selectCategory:${allTags}">
                             <span class="label label-info publish-tags" th:each="tag:${selectCategory.tags}">
                                <span class="glyphicon glyphicon-tag" th:onclick="selectTag(this)" th:text="${tag}" ></span>
                             </span>
                        </div>
                    </div>

                </div>


                <input class="errorHidden" type="hidden" th:value="${error}" th:if="${error}"/>
                <button id="publish-submit" type="submit" class="btn btn-success">发布</button>
            </form>
        </div>
        <div class="container-fluid col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h1>问题发起指南</h1>
            <ul class="publish-question">
                <li>
                    问题标题:请用精简的语言描述您发布的问题,不超过25个字
                </li>
                <li>
                    问题补充:详细补充您的问题内容，并确保问题描述清晰直观，并提供一些相关的资料
                </li>
                <li>
                    选择标签:选择一个或者多个合适的标签,用逗号隔开,每个标签不超过10个字
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>