<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>幽兰社区</title>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/publish.css">
    <script type="text/javascript" src="webjars/jquery/3.3.1/jquery.min.js"></script>
    <script type="application/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div th:insert="~{navigation :: nvi}"></div>

<div class="container-fluid main">
    <div class="row">
        <div class="container-fluid col-lg-9 col-md-12 col-sm-12 col-xs-12" >
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
            <hr/>

            <form action="/publish" method="post">
                <div class="form-group">
                    <label for="title">问题标题(简单扼要):</label>
                    <input type="text" name="title" th:value="${title}" class="form-control" id="title" placeholder="问题标题.....">
                </div>

                <div class="form-group">
                    <label for="description">问题补充</label>
                    <textarea class="form-control" th:utext="${description}" id="description" name="description" cols="30" rows="10"></textarea>
                </div>

                <div class="form-group">
                    <label for="tag">输入标签</label>
                    <input type="text" class="form-control" th:value="${tag}" id="tag" name="tag" placeholder="请输入标签,以逗号隔开">
                </div>
                <span th:text="${error}" th:if="${error}" class="alert alert-info"></span>
                <button id="publish-submit" type="submit" class="btn btn-success">发布</button>
            </form>
        </div>
        <div class="container-fluid col-lg-3 col-md-12 col-sm-12 col-xs-12" >
            <h1>问题发起指南</h1>
            ·问题备注必填,标签以分号隔开<br/>
            ·问题备注必填,标签以分号隔开<br/>
            ·问题备注必填,标签以分号隔开<br/>
            ·问题备注必填,标签以分号隔开<br/>
            ·问题备注必填,标签以分号隔开<br/>
            ·问题备注必填,标签以分号隔开<br/>
            ·问题备注必填,标签以分号隔开<br/>
            ·问题备注必填,标签以分号隔开<br/>
            ·问题备注必填,标签以分号隔开<br/>
            ·问题备注必填,标签以分号隔开<br/>
            ·问题备注必填,标签以分号隔开<br/>
        </div>
    </div>
</div>
</body>
</html>