<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhang.comunity.mapper.NotificationMapper">
    <insert id="addNotification" parameterType="notification">
        insert into notification
            (notifier,notifier_name,receiver, outerId,outer_title,type, gmt_create,status)
        values
            (
                #{notifier},
                #{notifierName},
                #{receiver},
                #{outerId},
                #{outerTitle},
                #{type},
                #{gmt_create},
                #{status}
            )
    </insert>

    <select id="selectNotifyByReceiver" resultType="notification">
        select
            id,notifier,notifier_name notifierName,receiver,outerId,outer_title outerTitle,type,gmt_create,status
        from
            notification
        where
            receiver=#{value}
        order by
            gmt_create desc
    </select>

    <select id="countNotifyByReceiver" parameterType="long" resultType="int">
        select
            count(*)
        from
            notification
        where
            receiver=#{value}
    </select>

    <select id="getNotifyById" resultType="notification">
        select
            *
        from
            notification
        where
            id=#{value}
    </select>

    <update id="updateNotification" parameterType="notification">
        update
            notification
        set
            status=#{status}
        where
            id=#{id}
    </update>

    <select id="countNotifyByStatus" parameterType="map" resultType="int">
        select
            count(*)
        from
            notification
        where
            receiver=#{userId} and status=#{unRead}
    </select>
</mapper>